html {
  font-size: 16px;
  font-family: Roboto;
}

.navbar-fixed-top {
  background-color: #000000;
  height: 3.875rem;
}

.navbar li {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar ul {
  margin-right: 3.4375rem;
}

.navbar-fixed-top img {
  margin: auto auto auto 3.6875rem;
}

.navbar-fixed-top .mobile {
  display: hidden;
}

.jumbotron {
  text-align: center;
  background-image: url('../images/dancers-photo.png');
  background-size: cover;
  padding-top: 9.4375rem;
  padding-bottom: 3.125rem;
  font-family: Roboto;
  color: #ffffff;
  position: relative;
  top: 3.875rem;
}

.jumbotron h1 {
  width: 45rem;
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  margin: auto;
  text-transform: uppercase;
}

.jumbotron p {
  margin: 2.6875rem auto 5rem auto;
  font-size: 1.5rem;
  line-height: 1.5;
  width: 45rem;
}

.btn-primary {
  background-color: #f5a623;
  font-size: 1.375rem;
  font-family: "Open Sans";
  font-weight: bold;
  border-radius: 2px;
  padding: 1.25rem 3.125rem;
  margin-bottom: 3.125rem;
}

.second {
  background-image: url('../images/graffiti-photo.png');
  background-size: cover;
  height: 31.25rem;
  position: relative;
}

.flex-item-second {
  background-color: rgba(120, 73, 225, 0.9);
  display: block;
  height: 20rem;
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.fourth {
  background-image: url('../images/jump-photo.png');
  background-size: cover;
  height: 31.25rem;
  position: relative;
}

.third {
  background-image: url('../images/fire-photo.png');
  background-size: cover;
  height: 31.25rem;
  position: relative;
}

.flex-item-third {
  background-color: rgba(173, 74, 226, 0.9);
  height: 20rem;
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.flex-item-fourth {
  background-color: rgba(120, 73, 225, 0.9);
  display: block;
  height: 20rem;
  width: 25rem;
  position: absolute;
  bottom: 0;
  right: 0;

}

h2 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-left: 3rem;
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.second p, .third p, .fourth p {
  margin-left: 3rem;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #ffffff;
}

.second span, .third span, .fourth span {
  margin-left: 3rem;
  color: #ffffff;
  font-weight: bold;
  margin-top: 1.25rem;
}

.bottom {
  height: 15rem;
  text-align: center;
  color: #ffffff;
  font-size: .875rem;
  letter-spacing: 0.7px;
}

.bottom p {
  margin-top: 5rem;
}

.icons {
  width: 9.375rem;
  color: #ffffff;
  margin: 1.56rem auto;
  display: flex;
  justify-content: space-between;
}

footer {
  background-image: url('../images/party-photo.png');
  background-size: cover;
}

.footer {
  background-color: rgba(178, 76, 178, 0.2);
  margin: auto;
  border: none;
  height: 5.125rem;
}

.footer span {
  float: right;
  position: relative;
  top: -2.75rem;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .jumbotron h1 {
    width: 31.25rem;
  }
  .flex-item-second, .flex-item-third, .flex-item-fourth {
    width: 100%;
    padding: 1.875rem 3.4375rem 1.875rem 1.875rem;
    height: 12.1875rem;
  }
  .icons {
    width: 5.4375rem;
    font-size: 1em;
    }
  .bottom {
    height: 8.75rem;
    font-size: .625rem;
    letter-spacing: 0.5px;
  }
  .footer {
    height: 3.5rem;
  }
  .flex-item-second p, .flex-item-third p, .flex-item-fourth p {
    font-size: 1rem;
    line-height: 1.5;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 1.4;
    margin-bottom: .625rem;
  }
  .footer span {
    display: none;
  }
  .footer .navbar-brand {
    display: none;
  }
}

@media only screen and (min-width: 320px) amd (max-width: 480px) {
    .navbar-fixed-top {
      height: 2.5rem;
      font-size: .75rem;
      padding-left: .625rem;
      padding-right: .625rem;
    }
    .mobile {
      display: inline;
    }
    .normal {
      display: none;
    }
    .jumbotron {
      padding-top: 7.125rem;
    }
    .jumbotron h1 {
      width: 18.5rem;
      font-size: 1.875rem;
      margin-bottom: 1.625rem;
    }
    .jumbotron p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 3.875rem;
    }
    .flex-item-second, .flex-item-third, .flex-item-fourth {
      width: 100%;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    h2 {
      font-size: 1.25rem;
      line-height: 1.2;
    }
    .footer span {
      display: none;
    }
    .footer .navbar-brand {
      display: none;
    }
}
